<div class="post bgDark differentiate-bottom">
	<div class="postHeader">
		<div class="userImg">
			<img src="{{ data.user.picture }}" alt="" srcset="" />
		</div>
		<div class="meta text-default">
			<span>{{ data.user.name }}</span>
			<span id="meta-email" class="link-underline text-primary">
				{{ data.user.email }}
			</span>
			<span id="meta-separator" class="separator">
				<i class="fas fa-circle"></i>
			</span>
			<span id="meta-follow-link" class="link-heavy text-primary">Follow</span>
		</div>
	</div>
	<div class="content">
		<div class="description text-default">
			{{ data.description }}
		</div>
		<div class="images" *ngIf="previewImages.length > 0">
			<div class="image" *ngFor="let image of previewImages">
				<img src="{{ image }}" alt="" srcset="" />
			</div>
		</div>
		<span class="date text-light">{{ data.date | duration }}</span>
		<div class="reactions">
			<div class="control">
				<button id="comments" class="fab fab-sm">
					<i class="fal fa-comment-alt"></i>
					<span>12345</span>
				</button>
			</div>
			<div class="control">
				<button id="like" [ngClass]="{ 'fab fab-sm': true, 'text-danger': liked, 'disable': postingReview}" (click)="toggleLike()">
					<i *ngIf="liked" class="fas fa-heart"></i>
					<i *ngIf="!liked" class="fal fa-heart"></i>
					<span>{{ data.likes }}</span>
				</button>
			</div>
			<div class="control">
				<button
					id="dislike"
					[ngClass]="{ 'fab fab-sm': true, 'text-yellow': disliked, 'disable': postingReview }"
					(click)="toggleDislike()"
				>
					<i *ngIf="disliked" class="fas fa-frown"></i>
					<i *ngIf="!disliked" class="fal fa-frown"></i>
					<span>{{ data.dislikes }}</span>
				</button>
			</div>
		</div>
	</div>
</div>
