<div class="header differentiate">
    <h4>Notes</h4>
    <div>
        <form class="create card" (click)="openBuzzForm()" [clickaway]="closeBuzzForm.bind(this)" [ngClass]="{roundedBorders: createBuzz}">
            <input id="title" *ngIf="createBuzz" type="text" placeholder="Title" name=title>
            <button *ngIf="createBuzz" class="fab fab-sm" type="button">
                <i class="fal fa-camera-alt"></i>
            </button>
            <textarea defaultFont multiline rows="1" id="description" type="text" placeholder="Post your thoughts..." name="description"></textarea>
            <div class="controls" *ngIf="createBuzz">
                <button type="submit" class="btn btn-primary">
                    add
                </button>
                <button type="button" class="btn btn-danger" (click)="closeBuzzForm()">
                    discard
                </button>
            </div>
        </form>
    </div>
</div>