<div class="card differentiate-bottom">
	<div class="user-img">
		<img src="{{ data.picture }}" />
	</div>
	<div class="info">
		<h4 class="text-primary" [routerLink]="['/home', 'profile']" [state]="{ email: 'nilesh22.a67@gmail.com' }">
			{{ data.name }}
			<span class="message">({{ data.email }})</span>
		</h4>
		<div class="field" *ngIf="data.role !== 'su'">
			<span class="text-title link-heavy">
				department
			</span>
			<div class="dropdown-select">
				<select (change)="updatePrivileges('department', $event)">
					<option value="notAssigned" [selected]="!data.department">Not Assigned/Unavailable</option>
					<option
						value="{{ department._id }}"
						[selected]="data.department && (data.department._id === department._id)"
						*ngFor="let department of departmentList"
						>{{ department.name | titlecase }}</option
					>
				</select>
			</div>
		</div>
		<div class="field">
			<span class="text-title link-heavy">
				role
			</span>
			<div class="dropdown-select">
				<select (change)="updatePrivileges('role', $event)">
					<option value="user" [selected]="data.role === 'user'">User</option>
					<option value="admin" [selected]="data.role === 'admin'">Admin</option>
					<option value="su" [selected]="data.role === 'su'">Super User</option>
				</select>
			</div>
		</div>
	</div>
</div>
