<div
	class="scrollWindow"
	infiniteScroll
	[infiniteScrollDistance]="1"
	[infiniteScrollThrottle]="0"
	(scrolled)="onScroll()"
	[scrollWindow]="false"
>
	<ng-template [render]="repeat" [dataBindings]="getDataBindings(i)" *ngFor="let i of data"></ng-template>
	<div class="loader" *ngIf="showLoader || err">
		<ttnd-spinner *ngIf="showLoader"></ttnd-spinner>
		<span class="text-danger message" *ngIf="err">
			Something went wrong, try refreshing the page or contact the administrator.
		</span>
	</div>
</div>
