<div class="card">
    <div class="header">
        <h3 class="text-primary text-caps">qwewer</h3>
        <div class="edit">
            <button class="fab-icon fab-icon-md">
                <i class="fal fa-pencil"></i>
            </button>
            <button class="fab-icon fab-icon-md">
                <i class="fal fa-trash"></i>
            </button>
        </div>
    </div>
    <div class="data">
        <span class="link-heavy text-title">assigned to</span>
        <span class="text-primary link">
            <span class="text-title">nilesh kumar</span>
            (nilesh.kumar@tothenew.com)
        </span>
    </div>
    <div class="data">
        <span class="link-heavy text-title">department</span>
        <span class="text-caps">it</span>
    </div>
    <div class="data">
        <span class="link-heavy text-title">status</span>
        <span class="text-title">open</span>
    </div>
    <div class="data">
        <span class="link-heavy text-title">description</span>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium eligendi similique at! In minima libero numquam, tenetur pariatur possimus unde!</p>
    </div>
</div>