.card {
    padding: 2.5rem;
    border-radius: 0px !important;
    position: relative;
}

.header {
    padding: 0 !important;
}

.data {
    margin-top: 1rem;
    display: flex;
    font-size: 1.8rem;
}

.data > * {
    flex: 1;
}

.data .link-heavy {
    cursor: default;
}

.estimated-time-form {
    border-radius: 8px !important;
}

.estimated-time-form .inputs {
    display: flex;
    margin-bottom: 2rem;
}

.estimated-time-form .inputs input {
    margin-right: 1rem;
}

.estimated-time-form .inputs > * {
    flex: 1;
}

.estimated-time-form .controls {
    width: 100%;
}

.ng-touched.ng-invalid {
    box-shadow: 0 0 4px #f00;
}