<div class="card bgDark differentiate-bottom">
	<div class="header">
		<h3 class="text-primary text-caps">{{ data.issueId }}</h3>
		<div class="edit" *ngIf="editableBy === 'user'">
			<button class="fab-icon fab-icon-md">
				<i class="fal fa-pencil"></i>
			</button>
			<button class="fab-icon fab-icon-md" (click)="deleteComplaint()">
				<i class="fal fa-trash"></i>
			</button>
		</div>
	</div>
	<div class="data" *ngIf="editableBy === 'admin' || editableBy === 'view'">
		<span class="link-heavy text-title">locked by</span>
		<span class="text-primary link">
			<span class="text-title">{{ data.lockedBy.name }}</span>
			({{ data.lockedBy.email }})
		</span>
	</div>

	<div class="data" *ngIf="editableBy === 'user' || editableBy === 'view'">
		<span class="link-heavy text-title">assigned to</span>
		<span class="text-primary link">
			<span class="text-title">{{ data.assignedTo.name }}</span>
			({{ data.assignedTo.email }})
		</span>
	</div>

	<div class="data">
		<span class="link-heavy text-title">department</span>
		<span class="text-caps">{{ data.department.name }}</span>
	</div>

	<div class="data">
		<span class="link-heavy text-title">title</span>
		<span class="text-title">{{ data.title }}</span>
	</div>

	<div class="data">
		<span class="link-heavy text-title">status</span>
		<span class="text-title" *ngIf="editableBy === 'user' || editableBy === 'view'">{{ data.status }}</span>
		<div *ngIf="editableBy === 'admin'">
			<div class="dropdown-select">
				<select>
					<option value="open">open</option>
					<option value="in progress">in progress</option>
					<option value="closed">closed</option>
				</select>
			</div>
		</div>
	</div>
	<div class="data" *ngIf="data.status === 'in progress'">
		<span class="link-heavy text-title">estimated time</span>
		<span>{{ data.estimatedTime.value }}&nbsp;{{ data.estimatedTime.spanType }}</span>
	</div>
	<div class="data">
		<span class="link-heavy text-title">description</span>
		<p>{{ data.description }}</p>
	</div>
</div>
