<div class="header differentiate-bottom">
	<h4>Nilesh Kumar</h4>
	<div class="tabs">
		<button class="btn btn-primary btn-dark">
			departments and users
		</button>
		<button class="btn btn-primary btn-dark">
            complaints log
        </button>
	</div>
</div>
<div class="content">
	<div class="deptarments card">
		<div class="header differentiate-bottom">
			<h4>departments</h4>
			<form class="filters" [formGroup]="addDepartmentForm" (ngSubmit)="addNewDept(deptList)">
				<div>
					<input formControlName="name" type="text" placeholder="Type in the new deparment name">
				</div>
				<button class="fab-icon fab-icon-md" type="submit">
					<i class="fal fa-plus"></i>
				</button>
			</form>
		</div>
		<ttnd-infinite #deptList [repeat]="department" [dataService]="deptApi" [dataServiceFn]="'getDepartments'"></ttnd-infinite>
	</div>
</div>