<div class="header differentiate-bottom">
	<h4>Nilesh Kumar</h4>
	<div class="tabs">
		<button
			class="btn btn-primary btn-dark"
			(click)="changeView('users')"
			[ngClass]="{ active: currentView === 'users' }"
		>
			users
		</button>
		<button
			class="btn btn-primary btn-dark"
			(click)="changeView('departments')"
			[ngClass]="{ active: currentView === 'departments' }"
		>
			departments
		</button>
		<button
			class="btn btn-primary btn-dark"
			(click)="changeView('complaints')"
			[ngClass]="{ active: currentView === 'complaints' }"
		>
			complaints log
		</button>
	</div>
</div>
<div class="content">
	<div class="card" *ngIf="currentView === 'departments'">
		<div class="header differentiate-bottom">
			<h4>departments</h4>
			<form class="filters" [formGroup]="addDepartmentForm" (ngSubmit)="addNewDept(deptList)">
				<div>
					<input formControlName="name" type="text" placeholder="Type in the new deparment name" />
				</div>
				<button class="fab-icon fab-icon-md" type="submit">
					<i class="fal fa-plus"></i>
				</button>
			</form>
		</div>
		<ttnd-infinite
			#deptList
			[repeat]="department"
			[dataService]="deptApi"
			[dataServiceFn]="'getDepartments'"
		></ttnd-infinite>
	</div>
	<div class="complaint card" *ngIf="currentView === 'complaints'">
		<div class="header differentiate-bottom">
			<h4>departments</h4>
			<ttnd-complaint-filter (filterData)="getComplaintsFilter($event)"></ttnd-complaint-filter>
		</div>
		<ttnd-infinite
			[repeat]="complaint"
			[dataService]="complaintApi"
			[dataBindings]="complaintDataBindings"
			[subscribeToArgs]="complaintsFilter"
			[limit]="5"
		></ttnd-infinite>
	</div>
	<div class="user card" *ngIf="currentView === 'users'">
		<div class="header differentiate-bottom">
			<h4>departments</h4>
			<ttnd-complaint-filter (filterData)="getComplaintsFilter($event)"></ttnd-complaint-filter>
		</div>
		<ttnd-infinite
			[repeat]="user"
			[dataService]="userApi"
			[dataServiceFn]="'getUsers'"
			[dataBindings]="userDataBindings"
			[limit]="5"
		></ttnd-infinite>
	</div>
</div>
