<div class="header differentiate-bottom">
	<h4>Nilesh Kumar</h4>
	<div class="tabs">
		<button
			class="btn btn-primary btn-dark"
			(click)="changeView('users')"
			[ngClass]="{ active: currentView === 'users' }"
		>
			users
		</button>
		<button
			class="btn btn-primary btn-dark"
			(click)="changeView('departments')"
			[ngClass]="{ active: currentView === 'departments' }"
		>
			departments
		</button>
		<button
			class="btn btn-primary btn-dark"
			(click)="changeView('complaints')"
			[ngClass]="{ active: currentView === 'complaints' }"
		>
			complaints log
		</button>
	</div>
</div>
<div class="content">
	<div class="card" *ngIf="currentView === 'departments'">
		<div class="header differentiate-bottom">
			<h4>departments</h4>
			<form class="filters" [formGroup]="addDepartmentForm" (ngSubmit)="addNewDept(deptList)">
				<div>
					<input formControlName="name" type="text" placeholder="Type in the new deparment name" />
				</div>
				<button class="fab-icon fab-icon-md" type="submit">
					<i class="fal fa-plus"></i>
				</button>
			</form>
		</div>
		<ttnd-infinite
			#deptList
			[repeat]="department"
			[dataService]="deptApi"
			[dataServiceFn]="'getDepartments'"
		></ttnd-infinite>
	</div>
	<div class="complaint card" *ngIf="currentView === 'complaints'">
		<div class="header differentiate-bottom">
			<h4>departments</h4>
			<ttnd-complaint-filter (filterData)="getComplaintsFilter($event)"></ttnd-complaint-filter>
		</div>
		<ttnd-infinite
			[repeat]="complaint"
			[dataService]="complaintApi"
			[dataBindings]="complaintDataBindings"
			[subscribeToArgs]="complaintsFilter"
			[limit]="5"
		></ttnd-infinite>
	</div>
	<div class="user card" *ngIf="currentView === 'users'">
		<div class="header differentiate-bottom">
			<h4>departments</h4>
			<div class="filters">
				<form class="filters" [formGroup]="userFiltersForm" (ngSubmit)="applyUserFilters()">
					<div class="input-group">
						<label class="offset text-title">select department</label>
						<div class="dropdown-select">
							<select defaultFont formControlName="department">
								<option [ngValue]="''" [defaultSelected]="true">Select Department</option>
								<option [ngValue]="'notAssigned'">Not Assigned</option>
								<option [ngValue]="department._id" *ngFor="let department of departmentList">{{
									department.name | uppercase
								}}</option>
							</select>
						</div>
					</div>
					<div class="input-group">
						<label class="offset text-title">select role</label>
						<div class="dropdown-select">
							<select defaultFont formControlName="role">
								<option [ngValue]="''" [defaultSelected]="true">Select Role</option>
								<option [ngValue]="'user'">User</option>
								<option [ngValue]="'admin'">Admin</option>
								<option [ngValue]="'su'">Super User</option>
							</select>
						</div>
					</div>
					<div class="controls">
						<button class="fab-icon fab-icon-md text-primary" type="submit">
							<i class="fal fa-check"></i>
						</button>
						<button class="fab-icon fab-icon-md text-danger" type="reset" (click)="resetUserFilters()">
							<i class="fal fa-undo"></i>
						</button>
					</div>
				</form>
			</div>
		</div>
		<ttnd-infinite
			[repeat]="user"
			[dataService]="userApi"
			[dataServiceFn]="'getUsers'"
			[dataBindings]="userDataBindings"
			[subscribeToArgs]="userFilters"
			[limit]="5"
		></ttnd-infinite>
	</div>
</div>
