.active {
	background-color: rgba(0, 0, 0, 0.09);
}

.content .header .add-dept {
	display: flex;
	width: max-content;
}

.content .header .add-dept input {
	width: calc(100% - 50px);
}

.complaint .header, .user .header {
	display: block;
	padding: 3rem;
	height: unset;
	margin-bottom: 0;
}

.filters {
	margin-top: 1rem;
}

.offset {
	margin-left: 2.4rem;
}