<div>
	<div class="header differentiate-bottom">
		<h4>Nilesh Kumar</h4>
	</div>
	<div class="card spinner" *ngIf="!userProfile">
		<ttnd-spinner></ttnd-spinner>
	</div>
	<div class="profile card" *ngIf="userProfile">
		<div class="image">
			<div class="file-btn" *ngIf="allowEditProfile">
				<label for="profilePic">
					<i class="fal fa-camera"></i>
				</label>
				<input id="profilePic" type="file" (change)="uploadPic($event)" accept="{{ allowedFileType.join() }}" />
			</div>
			<img src="{{ userProfile.picture }}" />
		</div>
		<span class="text-danger message" *ngIf="pictureError">
			{{
				pictureErrorMsg
					? pictureErrorMsg
					: 'Maximum file size should be 5MB, only jpeg and png files are allowed.'
			}}
		</span>
		<div class="info text-default">
			<span>
				{{ userProfile.name }}
				<span>
					(<span class="text-primary">{{ userProfile.email }}</span
					>)
				</span>
			</span>
			<span>Department: {{ userProfile.department ? userProfile.department.name : 'not assigned' }}</span>
			<span>Contact: {{ userProfile.contact ? userProfile.contact : 'not updated' }}</span>
			<span>Date of Birth: {{ userProfile.dob ? (userProfile.dob | date) : 'not updated' }}</span>
			<button class="fab-icon fab-icon-md" (click)="openEditForm()" *ngIf="allowEditProfile">
				<i class="fal fa-pencil"></i>
			</button>
		</div>
		<div class="overlay fullscreen" *modal="editProfile && allowEditProfile">
			<form class="card" [formGroup]="editProfileForm" *ngIf="editProfile" (ngSubmit)="submitProfileUpdate()">
				<button class="fab-icon fab-icon-sm close" (click)="closeEditForm()">
					<i class="fal fa-times"></i>
				</button>
				<h4>Edit Profile</h4>
				<div class="input">
					<label for="name">Name</label>
					<input type="text" id="name" placeholder="Name" formControlName="name" />
				</div>
				<div class="input">
					<label for="">Contact</label>
					<input type="number" placeholder="Contact" formControlName="contact" />
				</div>
				<div class="input">
					<label for="">Date of birth</label>
					<input type="date" defaultFont placeholder="Date of birth" formControlName="dob" max={{dateLimit}} />
				</div>
				<div class="controls">
					<button type="submit" class="btn btn-primary">
						update
					</button>
					<button type="reset" class="btn btn-danger" (click)="closeEditForm()">
						discard
					</button>
				</div>
				<span class="text-danger message" *ngIf="profileError"> {{ profileErrorMsg }} </span>
				<div class="overlay" *ngIf="updatingProfile">
					<ttnd-spinner></ttnd-spinner>
				</div>
			</form>
		</div>
	</div>
</div>
