<div class="header differentiate-bottom">
	<h4>Nilesh Kumar</h4>
</div>
<div class="profile card">
	<div class="image">
		<div class="file-btn">
			<label for="profilePic">
				<i class="fal fa-camera"></i>
			</label>
			<input id="profilePic" type="file" />
		</div>
		<img src="../../../assets/images/home-banner.jpg" />
	</div>
	<div class="info text-default">
		<span>
			Nilesh Kumar
			<span> (<span class="text-primary">nilesh.kumar@tothenew.com</span>) </span>
		</span>
		<span>MEAN</span>
		<span>Contact: 7042269375</span>
		<span>Date of Birth: 09/02/1999</span>
		<button class="fab-icon fab-icon-md">
			<i class="fal fa-pencil"></i>
		</button>
	</div>
</div>
