.post-comment {
    display: flex;
    align-items: center;
}

.post-comment .user-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.post-comment .user-img img {
    width: 100%;
    height: 100%;
}

.post-comment input {
    margin-left: 1.5rem;
    font-size: 1.6rem;
    background-color: transparent;
    border: none;
    outline: none;
    min-width: 300px;
}

.post-comment .btn:hover {
    background: none;
}