<div class="login-board">
	<div class="frosted">
		<h2 class="heading">welcome</h2>
		<span class="logo">
			<img src="../../assets/images/logo.png" />
		</span>
		<a class="login-button" href={{authenticationUri}} (click)="setLoginModeToSignin()">
			<span class="g">
                <img src="../../assets/images/google.png" alt="google"/>
            </span>
			<span class="text">login</span>
		</a>
		<span class="text-danger err" *ngIf="errType === unauthorized">{{ message }}</span>
		<a class="login-button" href={{authenticationUri}} (click)="setLoginModeToSingup()">
			<span class="g">
				<img src="../../assets/images/google.png" alt="google">
            </span>
            <span class="text">signup</span>
		</a>
		<span class="text-danger err" *ngIf="errType === duplicateKey">{{ message }}</span>
	</div>
</div>
