<div class="header differentiate-bottom">
	<h4>complaints</h4>
</div>
<div class="content">
	<div class="form-container">
		<form class="create card" [formGroup]="complaintForm" (ngSubmit)="createComplaint()">
			<div class="dropdown-select m-rt-gap">
				<select defaultFont formControlName="department">
					<option value="" [defaultSelected]="true">Select Department</option>
					<option [ngValue]="dept._id" *ngFor="let dept of departmentList">{{
						dept.name | uppercase
					}}</option>
				</select>
			</div>
			<div class="dropdown-select m-rt-gap">
				<select defaultFont formControlName="title">
					<option value="" [defaultSelected]="true">Select Issue Title</option>
					<option [ngValue]="'hardware'">Hardware</option>
					<option [ngValue]="'infrastructure'">Infrastructure</option>
					<option [ngValue]="'others'">Others</option>
				</select>
			</div>
			<textarea
				defaultFont
				multiline
				rows="1"
				id="description"
				type="text"
				placeholder="Describe your issue.."
				name="description"
				formControlName="description"
			></textarea>
			<div class="file-btn">
				<label for="complaintFiles" title="maximum 5 files, jpeg, png, plaintext and pdf files, maximum 5MB each">
					<i class="fal fa-file"></i>
				</label>
				<input id="complaintFiles" type="file" multiple accept="{{ allowedFileTypes.join() }}" (change)="fileChange($event)"/>
			</div>
			<div class="controls">
				<button type="submit" class="btn btn-primary">
					add
				</button>
				<button type="reset" class="btn btn-danger" (click)="reset()">
					discard
				</button>
			</div>
			<div class="overlay" *ngIf="err || postingComplaint">
				<ttnd-spinner *ngIf="postingComplaint"></ttnd-spinner>
				<span class="text-danger message" *ngIf="err">
                    Something went wrong, try refreshing the page or contact administrator.
                </span>
			</div>
            <span class="message text-danger" *ngIf="invalidFile">
                Maximum 5 files of size max size 5MB each are allowed of type plaintext, jpeg, png, pdf.
            </span>
        </form>
        <div class="overlay fullscreen" *ngIf="complaintLogged">
            <div class="complaint-id card">
                <button class="fab-icon fab-icon-sm close" (click)="complaintLogged = false;">
                    <i class="fal fa-times"></i>
                </button>
                Your complaint has been logged. Your referal id is <span class="text-primary link-heavy">{{referalId}}</span>.
            </div>
        </div>
	</div>
	<div></div>
	<!-- <div class="posts card" style="flex: 1;">
		<div class="header differentiate-bottom">
			<h4>feed</h4>
			<div class="dropdown-select">
				<select defaultFont>
					<option value="" [defaultSelected]="true">Select Category</option>
					<option value="activity">Activity</option>
					<option value="lost and found">Lost and Found</option>
				</select>
			</div>
		</div>
		<ttnd-infinite [dataService]="api" [subscribeToArgs]="categoryFilter" [limit]="5" [repeat]="buzzPostComponent"></ttnd-infinite>
	</div> -->
</div>
