<div class="comment">
    <div class="user-img">
        <img src="../../../../../assets/images/TTN-img.png" alt="user">
    </div>
    <div class="text text-default">
        <span>
            <span class="username link-heavy">some user</span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quod cupiditate eaque reiciendis magnam officiis labore hic temporibus, non dignissimos.
        </span>
        <span class="actions-and-meta">
            <span class="time text-light">13h</span>
            <button class="btn btn-minimal link-heavy text-light">reply</button>
        </span>
    </div>
</div>